<div class='category-thing core'></div>
<div class='category-thing togr'></div>
<div class='category-thing apps-appeals'></div>
<div class='category-thing dev'></div>
<div class='category-thing private'></div>
<div class='category-thing other'></div>
<div class='category-thing closed'></div>
<div class="category-thing echorp"></div>
<div class="category-thing operations"></div>
<div class="category-thing feedback"></div>
<div class="category-thing other"></div>

<CategorySorter
	@categories={{@outletArgs.categories}}
	@mapping={{theme-setting 'group_slug_mapping'}}
/>
