<div class="category-thing echorp"></div>
<div class="category-thing operations"></div>
<div class="category-thing feedback"></div>
<div class='category-thing other'></div>

<CategorySorter
	@categories={{@outletArgs.categories}}
	@mapping={{theme-setting 'group_slug_mapping'}}
/>
