.toggle-hide-devs-btn.dis {
	background-color: rgb(221, 93, 93);
	color: #e9e9e9 !important;
}
.toggle-hide-devs-btn {
	background-color: transparent;
}

.topic-post .topic-body {
	z-index: 1;
}

.category-logo img {
	max-width: 64px !important;
	max-height: 64px !important;
}

.categories-root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& > div {
		width: calc(50% - 10px);
	}
}

.navigation-categories {
	.category-thing {
		& > .category-list {
			display: block;
			padding-top: 150px;
			background-repeat: no-repeat;
			background-size: 100% 150px;
			position: relative;
			width: 100%;

			&:before {
				position: absolute;
				top: calc(150px - 50px - 25px);
				left: 13px;
				color: #fff;
				text-shadow: #000 0px 0px 4px;
				font-size: 50px;
			}

			thead {
				display: none;
			}

			tbody {
				position: static;
				display: table;
				width: 100%;
				table-layout: fixed;
				box-sizing: border-box;
			}

			div {
				position: static;
			}
		}

		&.echorp > .category-list {
			&:before {
				content: 'EchoRP';
			}

			background-image: linear-gradient(to bottom, #1a1a1a 0%, #2d2d2d 100%);
		}

		&.operations > .category-list {
			&:before {
				content: 'Server Operations';
			}

			background-image: linear-gradient(to bottom, #2b2b2b 0%, #3c3c3c 100%);
		}

		&.feedback > .category-list {
			&:before {
				content: 'Feedback & Development';
			}

			background-image: linear-gradient(to bottom, #3c3c3c 0%, #4d4d4d 100%);
		}

		&.other > .category-list {
			&:before {
				content: 'Ungrouped Content';
			}

			background-image: linear-gradient(
				to bottom,
				rgb(117, 117, 117) 0%,
				rgb(0, 0, 0) 100%
			);
		}
	}
}

.topic-list-item {
	&[class*='category-server-development'],
	&[class*='category-development'],
	&[class*='category-general'],
	&[class*='category-technical'],
	&[class*='category-announcements'] {
		.link-bottom-line,
		.topic-item-stats {
			border-left: 4px solid #97d9ff;
			padding-left: 4px;
		}
	}
}

/* Migrated from mobile/mobile.scss */
@media screen and (max-width: 768px) {
	.navigation-categories {
		.category-thing {
			margin-left: -10px;
			margin-right: -10px;
			width: calc(100% + 20px);

			& > .category-list {
				padding-left: 10px;
				/*padding-right: 10px;*/
			}

			&.core > .category-list {
				display: block;
				padding-top: 0px;
				background-size: 0px 0px;

				&:before {
					content: '';
				}
			}
		}
	}
}

